<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sunnymarketbackend.dao.ProductDao">

    <!-- 查詢所有產品並分頁 -->
    <select id="selectAllProducts" resultType="com.example.sunnymarketbackend.entity.Product">
        SELECT product_id, product_name, category, image_Url, price, stock, description, created_date, last_modified_date
        FROM product_table
        <where>
            <if test="category != null">
                category = #{category}
            </if>
        </where>
        ORDER BY
        ${sort != null and (sort == 'price' or sort == 'created_date') ? sort : 'created_date'}
        ${order != null and (order == 'ASC' or order == 'DESC') ? order : 'DESC'}
    </select>

    <!-- 修改產品庫存 -->
    <update id="updateStock" parameterType="com.example.sunnymarketbackend.entity.Product">
        UPDATE product_table
        SET stock = #{stock}, last_modified_date = #{lastModifiedDate}
        WHERE product_id = #{productId}
    </update>

  <!-- 新增產品 -->
    <insert id="addProduct" parameterType="com.example.sunnymarketbackend.entity.Product" useGeneratedKeys="true" keyProperty="productId">
        INSERT INTO product_table (category, product_Name, image_Url, price, stock, description, created_date, last_modified_date)
        VALUES (#{category}, #{productName}, #{imageUrl}, #{price}, #{stock}, #{description}, #{createdDate}, #{lastModifiedDate});
    </insert>

  <!-- 查詢單筆產品 -->
    <select id="getProductById" resultType="com.example.sunnymarketbackend.entity.Product">
        SELECT product_id, product_name, category, image_Url, price, stock, description, created_date, last_modified_date
        FROM product_table
        WHERE product_id = #{productId}
    </select>

  <!-- 修改單筆產品 -->
    <update id="updateProduct" parameterType="com.example.sunnymarketbackend.entity.Product">
        UPDATE product_table 
        SET category = #{category}, product_name = #{productName}, image_url = #{imageUrl},
        price = #{price}, stock = #{stock}, description = #{description}, last_modified_date = #{lastModifiedDate}
        WHERE product_id = #{productId}
    </update>

    <!-- 刪除單筆產品 -->
    <delete id="deleteProductById" parameterType="com.example.sunnymarketbackend.entity.Product">
        DELETE FROM product_table
        WHERE product_id = #{productId}
    </delete>

</mapper>
