<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sunnymarketbackend.dao.UserDao">
    <!--從 id 取得 user-->
    <select id="getUserById" resultType="com.example.sunnymarketbackend.entity.User">
        SELECT user_id, email, password, user_name, address, phone_number, birthday, created_date, last_modified_date, reset_token, reset_token_expiration
        FROM user_profile
        WHERE user_id = #{userId}
    </select>

    <!--從 email 取得 user-->
    <select id="getUserByEmail" resultType="com.example.sunnymarketbackend.entity.User">
        SELECT user_id, email, password, user_name, address, phone_number, birthday, created_date, last_modified_date, reset_token, reset_token_expiration
        FROM user_profile
        WHERE email = #{email}
    </select>

    <!--註冊-->
    <insert id="createUser" parameterType="com.example.sunnymarketbackend.entity.User" useGeneratedKeys="true" keyProperty="productId">
        INSERT INTO user_profile (email, password, user_name, address, phone_number, birthday, created_date, last_modified_date, reset_token, reset_token_expiration)
        VALUES (#{email}, #{password}, #{user_name}, #{address}, #{phone_number}, #{birthday}, #{created_date}, #{last_modified_date}, #{reset_token}, #{reset_token_expiration})
    </insert>

</mapper>